/** fond link**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** common section**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.bannar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 22px;
}


/**bannar-left **/

.bannar-left{
    padding: 42px;
}
.bannar img{
    display:block;
}

.bannar-left h2{
    font-size: 65px;
font-weight: 700;
line-height: 76px;
}
.bannar-left p{
    padding: 16px 0;
    color: #FFFFFF;
    min-width: 60%;
}
.btn{
    color: white;
    padding: 15px 25px;
    background-color: red;
    font-weight: 650;
    border: none;
    border-radius: 10px;
}

.bannar-right{
    width:100%;
}

/***upcoming-match**/
.upcoming-match{
    
    padding: 45px 0;
    display: flex;
    border-radius: 8px;
    margin-top: 10px;
    gap: 20px;
}
.upcoming-match-laft{

    background-color: black;
    width: 25%;
    gap: 15px;
    padding: 15px;
    display: flex;
    flex-direction:column;
    border-radius: 8px;
    height: fit-content;
}

.upcoming-match-laft .btn:nth-child(1),
.upcoming-match-laft .btn:nth-child(2){
    color:black;
    background-color: rgb(252, 252, 252);
}

.upcoming-match-right > *{
    flex: 1;
}

.upcoming-match-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
}


.upcoming-match-right .cart img{
    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.upcoming-match-right .cart .btn{
    background-color: white;
     color: #161616CC;
    border: 2px solid black;
    padding: 8px 17px;
    margin-top: 5px;
}
.upcoming-match-right .cart h2{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;

}
.cart-n{
    display: flex;
    gap: 25px;
    color:Middle #161616CC;
}

.cart-body{
    padding: 16px;
}


/***footer part**/

.contact-part{
max-width: 1262px;
height: 380px;
margin: auto;
background-color: black;
text-align: center;
padding: 30px;
}

.contact-part h1{
    color: white;
    margin-top: 60px;
}
.contact-part .reka{
    width: 80%;
    color:#f8e5e51a;
    margin-top: 50px;
    margin-left: 110px;
}
.contact-part ul{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-left: 220px;
}

.contact-part ul li a{
    color: #B9B9B9;
    font-size: 16px;
font-weight: 500;
    text-decoration: none;
}
.icon{
  margin-top: 30px;
    color:white;
}
#boro{
 width: 50px;
 height: 50px;
}


/*** laptop responsive***/

@media (max-width:992px) {

    .bannar-left h2{
    font-size: 50px;
line-height: 50px;
}
    .upcoming-match {
        flex-direction: column;
    }
    .upcoming-match-laft {
        flex-direction: row;
        width: 100%;
        background-color: transparent;
    }
    .upcoming-match-laft > *{
        flex: 1;
    }
  .upcoming-match-laft .btn{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;

  }
 .upcoming-match-right{
    grid-template-columns: repeat(2, 1fr);
 }

 /**footer responsive ***/

 .contact-part{
    width: auto;
height: 345px;
text-align: center;
justify-content: center;
padding: 20px;
}
.contact-part ul{
    flex-wrap: wrap;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
} 
.contact-part .reka{
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 60px;

}
.icon{
  margin-top: 30px;
    
}
}

/*** mobile responsive ***/
@media (max-width: 578px) {
    .bannar{
        flex-direction: column;
        text-align: center;
        
    }
    .bannar-left{
        padding: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .bannar-left h2{
        font-size: 30px;
font-weight: 700;
    }
    .bannar-left p{
        font-size: 14px;
font-weight: 400;
padding: 15px;
text-align: center;
    }
    .bannar-right img{
    width: 283px;
height: 285px;
margin-left: 50px ;
    
}
.bannar .bannar-left{
    padding-left: 0;
}
.upcoming-match-right{
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
}
.upcoming-match-laft{
    flex-direction: column;
}

/* footer responsive */

.contact-part{
    width: full;
height: 577px;
text-align: center;
justify-content: center;
flex-direction: column;
gap: 10px;
}
.contact-part ul{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}
.contact-part h1{

    margin-top: 30px;
}
.icon{
  flex-direction: column;
   gap: 20px;
}
}